body {
    padding: 0;
    margin: 0;
}

fieldset {
    border: none !important;
}

a {}

.main {
    width: 100%;
}

form {
    margin-top: 5px;
    margin-left: 5px;
}

fieldset {
    margin-bottom: 5px;
    border-color: #ffffff;
    border-width: 0px;
    border: none;
}

label {
    display: inline-block;
    width: 130px;
    text-align: right;
    vertical-align: middle;
    padding-right: 8px;
}

.contentDiv select {
    width: 150px;
}

.contentDiv input {
    width: 150px;
}

#info{
	width:90%;
	height:40px;
	margin:0 auto;
	background:#b5b5b5;
	line-height:40px;
	text-align: center;
	color:green;
	font-size:20px;
	display:none;
	
	
}
#state_info{
	width:90%;
	height:40px;
	margin:0 auto;
	background:#b5b5b5;
	line-height:40px;
	text-align: center;
	color:green;
	font-size:14px;
	display:none;
	
	
}

#photo{
	widht;60px;
	height:80px;
	position:relative;
	top:50px;

	float:right;
	margin-right:150px;
	margin-top:-50px;
}


.pagination-info {
    margin: 0 40px 0 0 !important;

}
.union-info{
	padding:20px;
	padding-left:50px;
}
.union-info ul{
	padding-left:10px;
	margin-button:10px;
}
.union-info li{
	list-style:none;
}

footer {
    position: relative;
    background: #a9facd;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

footer div {
    float: right;
    margin-right: 150px;
}